@import './pages/landing.scss';
@import './layout/header.scss';
@import './pages/skills.scss';
@import './pages/portfolio.scss';
@import './pages/about.scss';
@import './components/toTop.scss';

* {
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x:hidden;
}

