#landing {
  position: relative;
  max-width: 100dvw;
  height: 100dvh;
}
#landing h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 30px;
  border: #204012 solid 2px;
  font-size: 2.5em;
  text-align: center;
}
#landing span {
  color: #2F591B;
}
#landing img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: ease-in-out;
  object-fit: cover;
}

.noParallax {
  display: none;
}

@media screen and (max-width: 1024px) {
  #landing .noParallax {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: ease-in-out;
    object-fit: cover;
  }
  .parallax {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  #landing .noParallax h1 {
    font-size: 1.7em;
  }
}
nav {
  position: sticky;
  top: 0;
  max-width: 100vw;
  text-align: right;
  background-color: #204012;
  padding: 30px;
  z-index: 10;
}
nav a {
  position: relative;
  display: inline;
  margin: 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
nav a:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 0%;
  height: 120%;
  border-radius: 5px;
  background-color: #B9D99A;
  opacity: 0.3;
  z-index: -1;
  transition: ease 0.3s;
}
nav a:hover:before {
  width: 115%;
  transition: ease 0.3s;
}
nav .fa-bars {
  display: none;
}

@media screen and (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  nav .fa-bars {
    display: inline;
    color: white;
    font-size: large;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
  nav a {
    display: none;
  }
  .showNavLinks a {
    display: inline;
  }
}
#skillsSection {
  background-color: white;
  text-align: center;
}

#skillContainer {
  position: relative;
  background-color: white;
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#skillContainer > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#skillContainer h2, #skillContainer p {
  margin-top: 30px;
  padding: 15px;
  color: black;
  text-align: center;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px #B9D99A;
}
#skillContainer h2 {
  font-size: 3em;
  font-weight: 200;
  letter-spacing: 15px;
}
#skillContainer p {
  font-size: 1.5em;
  max-width: 90%;
}
#skillContainer span {
  color: #2F591B;
  font-weight: 700;
}

#skillCardsContainer {
  overflow: hidden;
  position: relative;
  width: 100%;
  white-space: nowrap;
}

#skillCardsContainer:before,
#skillCardsContainer:after {
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  z-index: 1;
  content: "";
}

#skillCardsContainer:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

#skillCardsContainer:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#slider {
  display: inline-flex;
  animation: 20s slide infinite linear;
  margin: 80px 0;
}

.skillCard {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 100px;
  margin: 0 15px;
  color: black;
  line-height: 1.5;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 5px 1px #b8c9a7;
  transition: ease-in-out 0.3s;
}
.skillCard h3 {
  margin-bottom: 10px;
  transition: ease-in-out 0.3s;
}
.skillCard li {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.skillCard li img {
  width: 30px;
  margin-right: 10px;
}

.skillCard:hover {
  scale: 1.5;
  z-index: 1;
  transition: ease-in-out 0.3s;
}
.skillCard:hover h3 {
  letter-spacing: 2px;
  transition: ease-in-out 0.5s;
}

#skillCardsContainer:hover #slider {
  animation-play-state: paused;
}

.link a {
  cursor: pointer;
  color: #2F591B;
  font-weight: 700;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}

.link a:hover {
  letter-spacing: 5px;
  transition: ease-in-out 0.3s;
}

@media screen and (max-width: 1024px) {
  .double {
    display: none;
  }
  #slider {
    animation: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 30px;
  }
  #skillCardsContainer {
    align-items: center;
    overflow: visible;
  }
  #skillCardsContainer .skillCard {
    margin: 15px;
  }
  #skillCardsContainer:before, #skillCardsContainer:after {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #skillContainer {
    overflow-x: hidden;
  }
  #skillContainer > img {
    width: 800px;
    left: 50%;
    transform: translateX(-50%);
  }
  #skillContainer h2 {
    font-size: 1.5em;
    margin-top: 80px;
  }
  #skillContainer p {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 500px) {
  #skillContainer h2 {
    margin-top: 150px;
  }
}
#portfolio {
  margin-top: 20vh;
  padding-top: 10vh;
}
#portfolio > h2 {
  padding: 15px;
  margin-bottom: 80px;
  color: black;
  font-size: 3em;
  font-weight: 200;
  text-align: center;
  letter-spacing: 15px;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px #B9D99A;
}

#topWorkContainer {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workCard {
  position: relative;
  max-width: 250px;
  text-align: center;
  margin: 15px;
  color: white;
  object-fit: cover;
}
.workCard img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.workCard h2 {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 64, 18, 0.7);
  border-radius: 15px;
  cursor: pointer;
}

.workCard:hover {
  scale: 1.2;
  transition: ease-in-out 0.2s;
}
.workCard:hover h2 {
  opacity: 0;
  transition: ease-in-out 0.2s;
}

#workCardContainer {
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px 0;
}

#overlay, #modal {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

#modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 101;
}

.active-modal {
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  #portfolio {
    margin-top: 0;
  }
  #workCardContainer {
    justify-content: center;
  }
}
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  max-width: 100vw;
  background-color: #592F0A;
  padding: 70px 50px;
}
#about #aboutContainer {
  position: relative;
  width: 60%;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px #D9B19A;
  color: white;
}
#about #aboutContainer h2 {
  padding: 15px;
  font-size: 3em;
  font-weight: 200;
  text-align: center;
  letter-spacing: 10px;
}
#about #aboutContainer p {
  margin: 30px;
  font-size: 18px;
  font-weight: 500;
}
#about #aboutContainer span {
  font-size: 20px;
  font-weight: 700;
}
#about #aboutContainer a {
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #about #aboutContainer {
    width: 85%;
  }
}
@media screen and (max-width: 800px) {
  #about {
    padding: 30px 15px;
  }
  #about #aboutContainer {
    width: 100%;
  }
  #about #aboutContainer p {
    font-size: 16px;
  }
}
#toTopButton {
  background-color: transparent;
  border: none;
  font-size: 24px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
}
#toTopButton :hover {
  scale: 1.5;
  transition: ease-in-out 0.2s;
}

.fa-arrow-up {
  color: #2F591B;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #204012;
  padding-top: 50px;
  padding-bottom: 20px;
}
footer img {
  width: 30px;
  margin: 0px 30px;
  padding: 2px;
  background-color: #B9D99A;
  border-radius: 50%;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
footer img:hover {
  scale: 1.3;
  transition: ease-in-out 0.3s;
}
footer p {
  margin-top: 15px;
  color: white;
  font-weight: 100;
  font-size: 16px;
}

#contact {
  display: flex;
  justify-content: center;
}
#contact #contactContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 150px 0;
  width: 60%;
}
#contact #contactContainer h2 {
  font-size: 26px;
  margin-right: 50px;
}
#contact #contactContainer h2 span {
  color: #2F591B;
  font-size: 30px;
}
#contact #contactContainer p {
  margin: 10px;
  font-size: 18px;
}
#contact #contactContainer p span {
  font-weight: bold;
  color: #2F591B;
}
#contact #contactContainer a {
  margin: 10px;
  font-size: 18px;
  color: #2F591B;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  #contactContainer {
    flex-direction: column;
  }
}
.topWorkCard {
  margin-top: 50px;
  display: flex;
  width: 60%;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px #B9D99A;
}
.topWorkCard .topWorkImage {
  width: 50%;
  margin: 30px;
}
.topWorkCard .topWorkImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  border: solid #B9D99A 1px;
}
.topWorkCard .topWorkText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin: 30px 30px 30px 0px;
}
.topWorkCard .topWorkText h3 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.5em;
}
.topWorkCard .topWorkText ul {
  display: flex;
  justify-content: center;
}
.topWorkCard .topWorkText li {
  list-style: none;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #D9B19A;
}
.topWorkCard .topWorkText p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.topWorkCard .topWorkText span {
  font-weight: 600;
  color: #2F591B;
}
.topWorkCard .topWorkText .topWorkLink {
  display: flex;
  justify-content: center;
}
.topWorkCard .topWorkText a {
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  background-color: rgba(32, 64, 18, 0.7);
  border-radius: 20px;
  border: solid rgba(32, 64, 18, 0.7) 1px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.topWorkCard .topWorkText a:hover {
  color: rgba(32, 64, 18, 0.7);
  background-color: white;
  letter-spacing: 5px;
  transition: ease-in-out 0.2s;
}

.reverse {
  flex-direction: row-reverse;
}
.reverse .topWorkText {
  margin: 30px 0px 30px 30px;
}
.reverse .topWorkText .topWorkLink {
  flex-direction: row;
}
.reverse .topWorkImage img {
  border-radius: 0 20px 20px 0;
}

.modalWork {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.modalWork .topWorkText {
  justify-content: space-around;
}
.modalWork .topWorkImage {
  margin: 15px;
}

@media screen and (max-width: 1024px) {
  .topWorkCard {
    width: 85%;
  }
  #modal-content {
    width: 85%;
  }
  .modalWork {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .topWorkCard {
    flex-direction: column;
    align-items: center;
  }
  .topWorkCard .topWorkImage {
    width: auto;
    margin-bottom: 0;
  }
  .topWorkCard .topWorkText {
    width: auto;
    margin: 0 30px 30px 30px;
  }
  .topWorkCard .topWorkText h3 {
    margin: 10px;
  }
}
@media screen and (max-width: 500px) {
  .topWorkCard ul {
    flex-wrap: wrap;
  }
  .topWorkCard ul li {
    margin-bottom: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  cursor: default;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
