@import '../utils/colors.scss';

#contact {
    display:flex;
    justify-content: center;

    #contactContainer{
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding:150px 0;
        width:60%;

        h2 {
            font-size:26px;
            margin-right:50px;

            span{
            color:$green;
            font-size:30px;
            }
        }
        
        p{
            margin:10px;
            font-size:18px;

            span{
                font-weight: bold;
                color:$green;
            }
        }

        a{
            margin:10px;
            font-size: 18px;
            color:$green;
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
        }

        
    }
}

@media screen and (max-width:500px){
    #contactContainer {
        flex-direction: column;
    }
}