@import "../utils/colors.scss";

#landing {
    position:relative;
    max-width:100dvw;
    height:100dvh;
    background-image: url(../assets/paralax/barren.png);
    background-size: cover;

    h1 {
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background-color:rgba(255, 255, 255, 0.7);
        padding:20px;
        border-radius:30px;
        border:$heavyGreen solid 2px;
    }

    span {
        color:$green;
    }
}