@import '../utils/colors.scss';

#skillsSection{
    background-color: white;
    text-align: center;
}

#skillContainer {
    position: relative;
    background-color: white;
    width:100%;
    min-height:90vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    > img{
        position:absolute;
        top:0;
        left:0;
        width:100%;
    }

    h2,p {
        margin-top:30px;
        padding: 15px;

        color:black;
        
        text-align: center;
        

        backdrop-filter: blur(15px);
        border: 1px solid rgba(255, 255, 255, .25);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0 0 10px 1px $lightGreen;
    }

    h2{
        font-size:3em;
        font-weight: 200;
        letter-spacing: 15px;
    }

    p{
        font-size:1.5em;
        max-width:90%;
    }

    span{
        color:$green;
        font-weight: 700;
    }
}

#skillCardsContainer {
    overflow: hidden;
    position: relative;
    width:100%;
    white-space: nowrap;
}

#skillCardsContainer:before,
#skillCardsContainer:after  {
    position:absolute;
    top:0;
    width:15%;
    height:100%;
    z-index:1;
    content:"";
}

#skillCardsContainer:before {
    left:0;
    background: linear-gradient(to left, rgba(255,255,255,0), white);
}

#skillCardsContainer:after {
    right:0;
    background: linear-gradient(to right, rgba(255,255,255,0), white);
}

@keyframes slide {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}

#slider {
    display: inline-flex;
   
    animation: 20s slide infinite linear;
    margin:80px 0;
}

.skillCard {
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width:200px;
    min-height: 100px;
    margin:0 15px;
    
    color:black;
    line-height: 1.5;

    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 5px 1px #b8c9a7;

    transition:ease-in-out 0.3s;
   

    h3 {
        margin-bottom: 10px ;
        transition:ease-in-out 0.3s;
    }

    li {
        display:flex;
        align-items: center;
        list-style-type: none;

        img{
            width:30px;
            margin-right:10px;
        }
    }
}

.skillCard:hover {
    scale:1.5;
    z-index:1;
    transition:ease-in-out 0.3s;

    h3 {
        letter-spacing: 2px;
        transition: ease-in-out 0.5s;
    }
}

#skillCardsContainer:hover #slider {
    animation-play-state: paused;
}

@media screen and (max-width:1024px){
    .double {
        display:none;
    }

    #slider {
        animation: none;
        flex-wrap: wrap;
        justify-content: center;
        margin: 80px 30px;
    }

    #skillCardsContainer{
        align-items: center;
        overflow:visible;

        .skillCard{
            margin:15px;
        }
    }

    #skillCardsContainer:before, #skillCardsContainer:after{
        display:none;
    }
}

@media screen and (max-width:800px){
 
    #skillContainer {
        overflow-x:hidden;

        > img{
            width:800px;
            left:50%;
            transform:translateX(-50%)
        }

        h2 {
            font-size: 1.5em;
            margin-top:80px;
        }

        p{
            margin-bottom: 15px;
        }
    } 
}  

@media screen and (max-width:500px){
    #skillContainer h2 {
        margin-top:150px;
    }
}

