@import '../utils/colors.scss';

nav {
    position:sticky;
    top:0;
    max-width:100vw;
    text-align: right;
    background-color: $heavyGreen;
    padding: 30px;
    z-index:10;

    a {
    margin:15px;
    color:white;
    text-decoration: none;

    }
}